<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 자동완성 기능을 사용할 수 있게 !DOCTYPE을 작성한다. -->

<!-- namespace="com.gura.spring04.mybatis.MemberMapper"를 member로 수정 -->
<mapper namespace="member">

	<!-- 
		* 파라미터를 memberDto로 가지고 와서 insert 
		* parameterType, resultType의 이름이 길어서 Conriguration.xml에서 <typeAliases>을 통해서 별칭을 줄 수 있다.
			parameterType에 부여한 별칭 사용.
			(원래: parameterType="com.gura.spring04.member.dto.MemberDto")
	-->
	<insert id="insert" parameterType="memberDto">
		INSERT INTO member
		(num, name, addr)
		VALUES(member_seq.NEXTVAL, #{name}, #{addr})
		<!-- 자동 바인딩 조건은 컬럼명과 MemberDto 필드명이 동일해야한다. -->
	</insert>
	
	<update id="update" parameterType="memberDto">
		UPDATE member
		SET name = #{name}, addr = #{addr}
		WHERE num = #{num}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM member
		WHERE num = #{num}
	</delete>
	
	<select id="getData" parameterType="int" resultType="memberDto">
		SELECT num, name, addr
		FROM member
		WHERE num = #{num}
	</select>
	
	<select id="getList" resultType="memberDto">
		SELECT num, name, addr
		FROM member
		ORDER BY num ASC
	</select>
	
</mapper>